.footer {
    background-color: #121214;
    color: white;
    padding: 48px 0px 60px;
    a {
        color: inherit;
    }

    h3 {
        margin: 0;
    }
    ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .footer__main {
        column-count: 6;
        @media screen and (max-width: 854px) {
            column-count: 4;    
        }

        @media screen and (max-width: 600px) {
            column-count: 2;    
        }

        @media screen and (max-width: 354px) {
            column-count: 1;
        }

        .footer__main-item {
            break-inside: avoid-column;
            .footer__main-item-title {
                font-size: 20px;
                font-weight: 400;
                line-height: 24px;
                margin-bottom: 12px;
            }

            .footer__mail-item-list {
                margin-bottom: 24px;
                li {
                    margin-bottom: 12px;
                    a {
                        color: rgb(166, 168, 173);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .footer__bottom {
        margin-top: 83px;
        display: flex;
        gap: 24px;
        flex-wrap: wrap;
        align-items: center;
        .footer-copyright {
            color: rgb(166, 168, 173);
            font-size: 12px;
            font-weight: 400;
            line-height: 18px;
        }
        nav {
            ul {
                display: flex;
                align-items: center;
                gap: 24px;
                @media screen and (max-width: 410px) {
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                li {
                    @media screen and (max-width: 410px) {
                        width: calc(33% - 24px);
                    }
                    a {
                        color: rgb(166, 168, 173);
                        font-size: 12px;
                        font-weight: 400;
                        line-height: 18px;
                        transition: .3s ease-in-out;

                        &:hover {
                            color: #fff;
                        }
                        img {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}