<footer class="footer">
  <div class="container">
    <div class="footer__main">

        <div class="footer__main-item">
          <h3 class="footer__main-item-title">Skills</h3>
          <ul class="footer__mail-item-list">
            <li><a href="#">Features</a></li>
            <li><a href="#">Catalog</a></li>
          </ul>
        </div>

        <div class="footer__main-item">
          <h3 class="footer__main-item-title">Studio</h3>
          <ul class="footer__mail-item-list">
            <li><a href="#">Features</a></li>
            <li><a href="#">About Splice Studio</a></li>
            <li><a href="#">Managing Your Production Library</a></li>
            <li><a href="#">Collaborating with Baewatch</a></li>
          </ul>
        </div>

        <div class="footer__main-item">
          <h3 class="footer__main-item-title">Community</h3>
          <ul class="footer__mail-item-list">
            <li><a href="#">Ableton Live Projects</a></li>
            <li><a href="#">FL Studio Projects</a></li>
            <li><a href="#">Logic Pro X Projects</a></li>
            <li><a href="#">Garageband Projects</a></li>
            <li><a href="#">Remix Contests</a></li>
            <li><a href="#">Tiesto's Secrets</a></li>
          </ul>
        </div>

        <div class="footer__main-item">
          <h3 class="footer__main-item-title">Sounds</h3>
          <ul class="footer__mail-item-list">
            <li><a href="#">Features</a></li>
            <li><a href="#">Catalog</a></li>
            <li><a href="#">How Jauz Uses Sounds</a></li>
            <li><a href="#">deadmau5's Chimaera</a></li>
            <li><a href="#">KSHMR Vol. 2</a></li>
          </ul>
        </div>

        <div class="footer__main-item">
          <h3 class="footer__main-item-title">Plugins</h3>
          <ul class="footer__mail-item-list">
            <li><a href="#">Top VSTs</a></li>
            <li><a href="#">Serum</a></li>
            <li><a href="#">Rent to Own</a></li>
            <li><a href="#">Free Plugins</a></li>
            <li><a href="#">Top Manufacturers</a></li>
          </ul>
        </div>

        <div class="footer__main-item">
          <h3 class="footer__main-item-title">Beatmaker</h3>
          <ul class="footer__mail-item-list">
            <li><a href="#">Create Your Own Beat</a></li>
            <li><a href="#">Wakapella</a></li>
            <li><a href="#">Just Blaze</a></li>
          </ul>
        </div>

        <div class="footer__main-item">
          <h3 class="footer__main-item-title">Blog</h3>
          <ul class="footer__mail-item-list">
            <li><a href="#">Latest Posts</a></li>
            <li><a href="#">Using Soundtoys Decapitator</a></li>
            <li><a href="#">Mastering 101</a></li>
            <li><a href="#">Producing Future Beats</a></li>
            <li><a href="#">Belonging @ Splice</a></li>
          </ul>
        </div>

    </div>

    <div class="footer__bottom">
      <span class="footer-copyright">© 2024 Splice.com All Rights Reserved</span>

      <nav>
        <ul>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Jobs</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">Help</a></li>
          <li><a href="#">
            <img src="img/facebook-icon.png" alt="facebook">
          </a></li>
        </ul>
      </nav>
    </div>
  </div>
</footer>
