<header class="header">
  <div class="container-xl">

    <div class="header-left">
      <a href="#">
        <img src="img/logo.png" width="97" height="30" data-aos="fade-right" data-aos-duration="1000">
      </a>

      <nav class="header-nav" data-menu>
        <ul>
          <li>
            <a href="#" class="header-mobile-logo">
              <img src="img/logo.png" width="97" height="30" data-aos="fade-right" data-aos-duration="1000">
            </a>
          </li>
          <li><a href="#" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">Sounds</a></li>
          <li><a href="#" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">Skills</a></li>
          <li><a href="#" data-aos="fade-up" data-aos-duration="700" data-aos-delay="600">Plugins</a></li>
          <li><a href="#" data-aos="fade-up" data-aos-duration="700" data-aos-delay="800">Studio</a></li>
          <li><a href="#" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1000">Community</a></li>
          <li><a href="#" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1100">Blog</a></li>
          <li><a href="#" data-aos="fade-up" data-aos-duration="700" data-aos-delay="1200">Pricing</a></li>
        </ul>
      </nav>
    </div>

    <div class="header-right">

      <button class="btn--transparent" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
        <a href="">Login</a>
      </button>

      <button class="btn--white" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="500">
        <a href="">Sign up</a>
      </button>

      <button class="btn-reset burger" aria-label="Открыть меню" aria-expanded="false" data-burger>
        <span class="burger__line"></span>
      </button>

    </div>

  </div>
</header>
