<div class="hero">
    <div class="container">
        <h1 class="hero-title" data-aos="fade-right" data-aos-duration="1000">Step into the <br> producer’s <br> playground</h1>
        <p class="hero-p" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="300">Explore the world’s best sample library and an <br> unmatched marketplace of plugins and DAWs.</p>
        <button class="btn--blue hero-btn" data-aos="fade-right" data-aos-duration="1200" data-aos-delay="500">Try free</button>
    </div>
</div>