<section class="team">
    <div class="container">
        <h2 class="team-title">What creators are saying about Splice</h2>
        <ul class="team-list">
            <li class="team-item">
                <div class="team-center">
                    <img src="img/team-1.png" alt="Andrew" class="team--item-image">
                </div>
                <h3 class="team--item-description">I can always find what I’m looking for on Splice, whether it’s the exact sound I want or just a bit of inspiration.</h3>
                <p class="team--item-name">Andrew Huang</p>
            </li>
            <li class="team-item">
                <div class="team-center">
                    <img src="img/team-2.png" alt="Andrew" class="team--item-image">
                </div>
                <h3 class="team--item-description">Finally a way to buy plugins that works. By paying a little at a time, producers can get legit access to the top VSTs.</h3>
                <p class="team--item-name">KSHMR</p>
            </li>
            <li class="team-item">
                <div class="team-center">
                    <img src="img/team-3.png" alt="Andrew" class="team--item-image">
                </div>
                <h3 class="team--item-description">It’s been fun to dive into Splice’s creator community and explore tools that support my own creative process.</h3>
                <p class="team--item-name">Kesha Lee</p>
            </li>
        </ul>
    </div>
</section>