// базовые подключения
@import "vars";
@import "mixins";
@import "fonts";
@import "settings";

// подключения компонентов страницы
@import "./components/header";
@import "./components/footer";
@import "./components/btns";
@import "./components/hero";
@import "./components/present";
@import "./components/splice";
@import "./components/team";
@import "./components/message";

.burger { 
    color: white !important;
    margin-left: 18px;
    z-index: 1001;
    @include burger;
    @media screen and ((min-width: 892px)) {
        display: none;
    }
 }